@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

body {
    display: block;
    padding: 2em;
}
ul {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    list-style: none;
    padding: 2em;
}
ul li {
    display: inline-block;
    margin: 1em auto;
}

a {
    background-color: #ccc;
    margin: 0.5em;
    padding: 1em;
    border-radius: 50%;
}
i {
    color: black;
}
i:hover {
    color: blue;
}
