html {
    font: 18px/1.5 "Helvetica", sans-serif;
    background-color: white;
}
body,
article {
    font: inherit;
}

article {
    margin: 3em;
    padding: 2em;
    border-radius: 1em;
    color: white;
    background-color: rgb(51, 102, 153);
    text-indent: 2.5em;
}
h1 {
    font-family: Georgia, serif;
}
