* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font: 16px/1.5 Helvetica, sans-serif;
}
h2 {
    font: 1.4em/1 Georgia, serif;
    font-weight: normal;
}
h3 {
    padding: 0.5em 1em 0 1em;
    font: 1em sans-serif;
}
body {
    background-color: rgb(238, 238, 238);
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
p {
    padding: 1em;
}
.card footer {
    border-top: 1px solid rgb(0, 0, 0, 0.15);
    margin-top: auto;
}
.cards-layout {
    padding-bottom: 2em;
    max-width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}
.cards-layout h2 {
    flex: 1 0 100%;
}
.card {
    display: flex;
    height: auto;
    flex-flow: column wrap;
    max-width: 30%;
    border: 1px solid rgb(0, 0, 0, 0.15);
    border-radius: 0.5em;
}
.card img {
    overflow: hidden;
    border-radius: 0.5em 0.5em 0 0;
}
.masonry {
    display: grid;
    grid-template-rows: repeat(auto);
}
